<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>어드민 </title>
    <!-- 공통 css, js, meta tag -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/common/side-nav.css"> -->
    <link rel="stylesheet" href="/css/layout/default.css">
</head>
<body>

<!-- page content body 구성 -->
<div class="main">
    <th:block layout:fragment="content"></th:block>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>
