<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>어드민 </title>
    <!-- 공통 css, js, meta tag -->
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}">
    <!-- <link rel="stylesheet" href="/css/common/side-nav.css"> -->
    <link rel="stylesheet" th:href="@{/css/layout/default.css}">
    <script th:src="@{/js/lib/jquery.min.js}"></script>
</head>
<body>
<div class="sidenav">
    <a sec:authorize="isAuthenticated()" th:href="@{'/accounts'}">
        <span>계정 관리</span>
    </a>
    <a sec:authorize="isAuthenticated()" th:href="@{'/boards'}">
        <span>게시판 관리</span>
    </a>
</div>
<!-- page content body 구성 -->
<div class="main">
    <div class="user-control" th:insert="common/user-control.html" id="header"></div>
    <th:block layout:fragment="content"></th:block>
</div>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>
