<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <div class="container">
        <h2 th:text="${postDto.title}"></h2>
        <p th:inline="text">작성자 : [[${postDto.authorEmail}]]</p>
        <p th:inline="text">작성일 : [[${postDto.modifiedDate}]]</p>

        <p th:utext="${postDto.content}"></p>
    </div>

    <div th:if="${#authentication.name == postDto.authorEmail}" class="container">
        <form th:action="@{'/boards/' + ${boardId} + '/posts/' + ${postDto.id}}" method="post">
            <a th:href="@{'/boards/' + ${boardId} + '/posts/' + ${postDto.id} + '/edit'}" class="btn-primary btn">
                수정
            </a>
            <input type="hidden" name="_method" value="delete"/>
            <button class="btn btn-warning">삭제</button>
        </form>
    </div>
</th:block>
