<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <div class="container">
        <h2 th:text="${postDto.title}"></h2>
        <p th:inline="text">작성자 : [[${postDto.authorEmail}]]</p>
        <p th:inline="text">작성일 : [[${postDto.modifiedDate}]]</p>

        <p th:utext="${postDto.content}"></p>
    </div>

    <div th:if="${#authentication.name == postDto.authorEmail}" class="container">
        <form th:action="@{'/boards/' + ${boardId} + '/posts/' + ${postDto.id}}" method="post">
            <a th:href="@{'/boards/' + ${boardId} + '/posts/' + ${postDto.id} + '/edit'}" class="btn-primary btn">
                수정
            </a>
            <input type="hidden" name="_method" value="delete"/>
            <button class="btn btn-warning">삭제</button>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()" class="container">
        <div class="container">
            <form th:action="@{'/boards/' + ${boardId} + '/posts/' + ${postDto.id} + '/replies'}" method="post" class="form-group row">
                <label class="col-1">댓글 달기</label>
                <input type="text" class="form-control col-8" placeholder="내용을 입력하세요" name="content">
                <button class="btn btn-primary col-2" type="submit" >등록</button>
            </form>
        </div>
    </div>

    <div class="container">
        <ul th:each="reply: ${replies}">
            <li class="row">
                <span class="d-none reply_id" th:data-id="${reply.id}"></span>
                <span class="col-2" th:text="${reply.authorEmail}"></span>
                <span class="col-7 reply_display" th:text="${reply.content}"></span>
                <span class="col-7 reply_modify_input d-none">
                    <div class="row">
                        <input type="text" class="form-control col-9 reply_value" th:value="${reply.content}">
                        <button class="btn btn-primary reply_modify_submit">변경</button>
                    </div>
                </span>
                <span class="col-2" th:text="${reply.modifiedDate}"></span>
                <span class="col-1">
                    <span th:if="${#authentication.name == reply.authorEmail}" >
                        <button class="btn btn-primary reply_modify_button">수정</button>
                        <button class="btn btn-warning reply_delete_button" th:data-id="${reply.id}">삭제</button>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {

            var postId = /*[[${postDto.id}]]*/;
            var apiUrl = /*[[@{'/boards/' + ${boardId} + '/posts/' + ${postDto.id} + '/replies'}]]*/;
            var _csrfParameterName = /*[[${_csrf.parameterName}]]*/;
            var _csrfToken = /*[[${_csrf.token}]]*/;

            $('.reply_modify_submit').click(function(evt) {
                var commonAncestor = $(this).closest('li.row');
                var replyDisplyEl = commonAncestor.find('.reply_display');
                var replyModifyEl = commonAncestor.find('.reply_modify_input');
                var replyModifyBtn = commonAncestor.find('.reply_modify_button');
                var replyContent = commonAncestor.find('.reply_value').val();
                var replyId = commonAncestor.find('.reply_id').data('id');

                var replyData = {
                    content: replyContent,
                };
                replyData[_csrfParameterName] = _csrfToken;

                console.log(replyData);
                $.ajax({
                    method: "PUT",
                    url: apiUrl + "/" + replyId,
                    data: replyData,
                    xhrFields: {
                        withCredentials: true
                    }
                }).done(function() {
                    replyDisplyEl.text(replyContent);
                    replyModifyBtn.toggleClass("d-none");
                    replyDisplyEl.toggleClass("d-none");
                    replyModifyEl.toggleClass("d-none");
                })
                .fail(function() {
                    alert( "삭제에 실패했습니다." );
                });
            })

            $('.reply_modify_button').click(function(evt) {
                var commonAncestor = $(this).closest('li.row');

                var replyDisplyEl = commonAncestor.find('.reply_display');
                var replyModifyEl = commonAncestor.find('.reply_modify_input');

                replyDisplyEl.toggleClass("d-none");
                replyModifyEl.toggleClass("d-none");
                $(this).toggleClass("d-none");
            });

            $('.reply_delete_button').click(function(evt) {
                var commonAncestor = $(this).closest('li.row');
                var replyId = $(this).data('id');
                var replyData = {};
                replyData[_csrfParameterName] = _csrfToken;
                console.log(replyData);
                $.ajax({
                    method: "DELETE",
                    url: apiUrl + "/" + replyId,
                    data: replyData,
                    xhrFields: {
                        withCredentials: true
                    }
                }).done(function() {
                    commonAncestor.remove();
                })
                .fail(function() {
                    alert( "삭제에 실패했습니다." );
                });
            })
        })
    </script>
</th:block>
