<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <form th:action="@{'/boards/' + ${boardId} + '/posts'}" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" name="title" th:value="${postDto.title}">
            <span th:text="${title}"></span>
        </div>
        <div class="form-group">
            <label for="content"> 내용 </label>
            <textarea class="form-control" id="content" placeholder="내용을 입력하세요" name="content" th:field="${postDto.content}"></textarea>
            <span th:text="${content}"></span>
        </div>
        <input type="submit" value="등록">
        <span th:text="${genericError}"></span>
    </form>
</th:block>