<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <h1>어드민 페이지</h1>
        <ul>
            <li>
                <a th:href="@{'/accounts'}">
                    <span>계정 관리</span>
                </a>
            </li>
            <li>
                <a th:href="@{'/boards'}">
                    <span>게시판 관리</span>
                </a>
            </li>
        </ul>
    <hr>
</th:block>