<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">게시판 </title>
    <!-- 공통 css, js, meta tag -->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/common/side-nav.css"> -->
    <link rel="stylesheet" href="/css/layout/default.css">
    <script th:src="@{/js/lib/jquery.min.js}"></script>
</head>
<body>

<!-- page content body 구성 -->
<div class="main">
    <div th:insert="common/user-control.html" id="header"></div>
    <th:block layout:fragment="content"></th:block>
</div>
<script th:src="@{/js/lib/bootstrap.min.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>

